<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href="category.css", type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Search by Genre
    body
        h1 Search by Genre
        ul.list-group
        each val, i in categories
            a(href="/category/:"+val)= val
            br 
            br