extends layout
block content
    h1 Welcome!
    .topnav
        a(href="/" class="active") Home
        a(href="/contact") Contact
        
        .search-container
            form(action="#")
                input(type="text", placeholder="Search..",name="search")
                button(type="submit") Submit

    h2(align="left" class="index-h2") Categories
